doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    title WishGraph
    link(rel='stylesheet' href='./stylesheets/style.css')
    link(rel="shortcut icon" href="/images/icon.jpg" type="image/jpg")
  body
    header
      .header_main
        .header_left_edge
        .header_name
          h2.header_name_text WishGraph
        .header_right_edge
    #sigma-container.sgmcnt
    script(src="./javascripts/bundle.js" height=h)