doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    title WishGraph
    link(rel='stylesheet' href='./stylesheets/style.css')
    link(rel="shortcut icon" href="/images/icon.jpg" type="image/jpg")
  body
    header
      .header_main
        .header_left_edge
        .header_name
          h2.header_name_text WishGraph
        .header_right_edge
    .main
      .title_block
        h1.title_block_text Enter blockchain address:
      .input_block
        form.main_form(action='' method='post')
          input#POST-name.main_form_field(type='text' name='owner')
          .button_bar
            input.main_form_button(type='submit' value='Find NFT')
            button.main_form_button(type='button' onclick="location.href = './graph?height=5';") Get graph
      if need_print == true
        .title_block
          h1.title_block_text Recommended NFT:
        if list_url.length == 0
          .main_nft_block
            img.nonft(src="./images/nonfts.jpg", width="500", height="500")
        else 
          .main_nft_block
            each url, index in list_url
              button.nft_img(onclick="location.href = 'https://rarible.com/token/" + list_id[index] + "';" style="background-image:url('" + url + "')")