doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    title WishGraph
    link(rel='stylesheet' href='./stylesheets/style.css')
    link(rel="shortcut icon" href="/images/icon.jpg" type="image/jpg")
  body
    header
      .header_main
        .header_left_edge
        .header_name
          h2.header_name_text WishGraph
        .header_right_edge
    .main
      .title_block
        h1.title_block_text Enter blockchain address:
      .input_block
        form.main_form(action='' method='post')
          input#POST-name.main_form_field(type='text' name='owner')
          input.main_form_button(type='submit' value='Find NFT')
      if need_print == true
        .title_block
          h1.title_block_text Recommended NFT:
        .main_nft_block
          each url in list_url
            .nft
              img(src=url height='295' width='295')
