doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    title WishGraph
    link(rel='stylesheet' href='./stylesheets/style.css')
    link(rel="shortcut icon" href="/images/icon.jpg" type="image/jpg")
  body
    header
      .header_main
        .header_left_edge
        .header_name
          h2.header_name_text WishGraph
        .header_right_edge
    .main
      .title_block
        h1.title_block_text NFTs:
      .main_nft_block
        each url, index in list_url
          .nft
            button.nft_img(onclick="location.href = 'https://rarible.com/token/" + list_id[index] + "';" style="background-image:url('" + url + "')")
            h3.nft_name #{list_names[index]}
